<h1>Usuarios</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Codigo</th>

  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.code %></td> 
  </tr>
<% end %>
</table>
 
<%= link_to "Nuevo usuario", new_admin_user_path%><br />    
